@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.music-bar {
  min-height: 50px;
  padding-top: 6px;
  padding-left: 3em;
  background-image: linear-gradient(to bottom, #e2e2e2, #ccc);
  text-align: center;
  color: #333;

  position: relative;
}

.song {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

.band {
  font-size: .8rem;
  margin: 0;
  color: #666;
}

.album {
  width: 3em;

  position: absolute;
  top: 0;
  left: 0;
}

.time-bar {
  height: 8px;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  background-color: #aaa;

  position: absolute;
  bottom: 0;
  right: 0;

  width: calc(100% - 3em);
}

/*
  DON’T TOUCH
  They’re just there to colour the progress bar
*/

.time-bar::-moz-progress-bar {
  background-color: #666;
}

.time-bar::-webkit-progress-value {
  background-color: #666;
}

/* END DON’T TOUCH ZONE */

.time-lapsed {
  font-size: .7rem;

  position: absolute;
  left: 4.7em;
  bottom: 1em;
}

.time-total {
  font-size: .7rem;

  position: absolute;
  right: .2em;
  bottom: 1em;
}

.controls {
  margin: 0;
  padding: 0;
  color: #666;
  font-size: 1.8rem;
  line-height: 16px;
  list-style-type: none;
}

.control-shuffle {
  font-size: 0.5em;

  position: absolute;
  left: 3.8em;
  top: 0;

}

.control-list {
  font-size: 1em;

  position: absolute;
  right: .2em;
  top: 0;
}

.control-heart {
  font-size: .7em;

  position: absolute;
  right: 1.5em;
  top: .2em;
}
